/* Header */
header {
  margin-top: auto;
  padding: auto ;
  width: auto;
  background-color: #dde8b9;
  flex-flow: row;
  display: flex;
  border-style: none none solid none;
  border-color: #cb8589;
  border-width: 4px;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: rgb(250, 242, 231);
  color: #5a4c4d;
}
a {
  text-decoration: none;
  color: #5a4c4d;
  
}
article {
  background-color: #cb8589;
  margin-left: 30%;
  margin-right: 2%;
  margin-top: 2%;

  padding: 5%;
}

/* bilder */

.picContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pic {
  padding:  0 10%;
  margin-top: 2%;
 
}
.buttons button {
  border: none;
  background-color: #5a4c4d;
  color: white;
  border-radius: 10px;
  padding: 12px 8px;
}
.buttons img{
  filter: invert(31%) sepia(2%) saturate(3940%) hue-rotate(307deg) brightness(87%) contrast(83%);
  
}
.buttons button img{
  gap: 12px;
  justify-items: baseline;
}

/* header buttons */
.botones {
  align-self: center;
  justify-content: flex-end;
  word-spacing: 20px;
}
.botones img{
  filter: invert(31%) sepia(2%) saturate(3940%) hue-rotate(307deg) brightness(87%) contrast(83%);
}
/* bild.html */
.productPage{
  display: flex ;
  flex-wrap: wrap;
  padding-top: 2%;
  gap: 3%;
}
.productPage img{
  margin-top: 2%;
  width: 50%;
  height: 40%;
}

select , input{
  
  
  width: 45%;
  height: 30px;
  margin-left: 12px;
  margin-top: 12px;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 3px solid#dde8b9 ;
  background-color: rgb(250, 242, 231);
}
input{
  width: 3vw;
  
}
.productPage button{
  height: 5%;
  width: 17%;
}
button:hover{
  
  letter-spacing: 2px;
  transition: 0.5s;
}

/* Sign.html */
.signIn{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login {
  width: 50vw;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #cb8589;
  margin: 1%;
  padding: 1%;

}

.login h2{
  color: #5a4c4d;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  padding: 12px 30px;

}

.login input{
  width: 31vw;
  height: 4vh;
  margin-left: 12px;
  margin-top: 12px;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 3px solid#dde8b9 ;
  background-color: rgb(250, 242, 231);
}

b{
  font-size: 18px;
  font-weight: bold;

}
#submit{
  border: none;
  outline: none;
  width: 50%;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 22px;
  border-radius: 15px;
  display: block;
  margin-left: 12px;
  margin: auto;
  padding-left: 8px 30px;
  color: #5a4c4d;
  background-color:#dde8b9  ;
  cursor: pointer;
}
#submit:hover{
  letter-spacing: 4px;
  transition: 0.5s;
}

.login a{
  text-decoration: none;
  color: #5a4c4d;
  font-size: 18px;
  display: block;
  margin: auto;
  text-align: center;
}
.login span{
  text-decoration: none
  
}
.login span:hover{
  letter-spacing: 4px;
  transition: 0.5s;
}

/* cart.html */
.categories {
  background-color: #dde8b9;
  margin-top: 2%;
  height: 25vh;
  width: 25vw;
}
.Cart-Container {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

.Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Heading {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #2f3841;
}
.Action {
  font-size: 14px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}

.Cart-Items {
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-box {
  width: 15%;
  text-align: center;
}
.about {
  height: 100%;
}
.title {
  padding-top: 5px;
  line-height: 10px;
  font-size: 32px;
  font-family: ‘Open Sans’;
  font-weight: 800;
  color: #202020;
}
.subtitle {
  line-height: 10px;
  font-size: 18px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #909090;
}
.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
}
.prices {
  height: 100%;
  text-align: right;
}
.amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: ‘Open Sans’;
  font-weight: 800;
  color: #202020;
}
.save {
  padding-top: 5px;
  font-size: 14px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
}
.remove {
  padding-top: 5px;
  font-size: 14px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.product {
  border: 2px solid white;
  background-color: white;

}





